@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/upload-php\/scss\/style\.scss}line{font-family:\000033}}
body {
  background: #eee;
  font-family: sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/upload-php\/scss\/style\.scss}line{font-family:\000036}}
  body .container {
    width: 340px;
    margin: 0 auto;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/upload-php\/scss\/style\.scss}line{font-family:\0000310}}
    body .container hr {
      height: 1px;
      margin: 1em 0;
      padding: 0;
      color: #bbb;
      background-color: #bbb;
      border: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/upload-php\/scss\/style\.scss}line{font-family:\0000318}}
    body .container input[type=file] {
      background: #fff;
      padding: 3px;
      width: 250px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0px 0px 0px 1px #aeaeae;
      -moz-box-shadow: inset 0px 0px 0px 1px #aeaeae;
      box-shadow: inset 0px 0px 0px 1px #aeaeae; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/upload-php\/scss\/style\.scss}line{font-family:\0000325}}
    body .container input[type=submit] {
      background: #bada55;
      border: none;
      padding: 5px 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bada55), color-stop(100%, #a8cf2d));
      background-image: -webkit-linear-gradient(#bada55, #a8cf2d);
      background-image: -moz-linear-gradient(#bada55, #a8cf2d);
      background-image: -o-linear-gradient(#bada55, #a8cf2d);
      background-image: linear-gradient(#bada55, #a8cf2d);
      -webkit-box-shadow: inset 0px 0px 2px 1px #97ba28;
      -moz-box-shadow: inset 0px 0px 2px 1px #97ba28;
      box-shadow: inset 0px 0px 2px 1px #97ba28;
      text-shadow: 1px 1px 1px #dceca9;
      color: #536616;
      font-weight: bold; }
