@import "compass";

body {
	background:#eee;
	font-family: sans-serif;
	.container {
		width: 340px;
		margin: 0 auto;
		text-align: center;
		hr {
			height: 1px;
			margin: 1em 0;
			padding: 0;
			color: #bbb;
			background-color: #bbb;
			border: 0;
		}
		input[type=file]{
			background:#fff;
			padding: 3px;
			width: 250px;
			@include border-radius(5px);
			@include box-shadow(inset 0px 0px 0px 1px darken(#eee,25));
		}
		input[type=submit]{
			background:#bada55;
			border: none;
			padding: 5px 15px;
			@include border-radius(5px);
			@include background-image(linear-gradient(#bada55, darken(#bada55,10)));
			@include box-shadow(inset 0px 0px 2px 1px darken(#bada55,15));
			@include text-shadow(1px 1px 1px lighten(#bada55,20));
			color: darken(#bada55,35);
			font-weight: bold;
		}
	}
}